<?xml version="1.0"?>
<robot name="small_cube">

  <link name="base_link">
    
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <!-- Recalculated for 0.07m x 0.07m x 0.07m at 1.0 kg -->
      <inertia ixx="0.0008166" ixy="0.0" ixz="0.0" 
               iyy="0.0008166" iyz="0.0" 
               izz="0.0008166"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.07 0.07"/>
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.07 0.07"/>
      </geometry>
    </collision>

  </link>

</robot>